<footer class="footer">
    <div class="columns">
        <div class="column">
            <article class="media">
                <figure class="meida-left mr-2">
                    <p class="image">
                        <img style="width: 180px;" src="/img-original/STU-nvf.png" alt="STU logo">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a target="_blank" href="https://www.stuba.sk/">Slovak University of Technology in Bratislava</a>
                    </div>
                </div>
            </article>         
            <article class="media">
                <figure class="meida-left mr-2">
                    <p class="image">
                        <img style="width: 64px;" src="/img-original/spectra_icon_nobackground.png" alt="Spectra CE logo">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a target="_blank" href="https://spectra-perseus.org/">Spectra Centre of Excellence</a>
                    </div>
                </div>                
            </article>                              
        </div>
        <div class="column">
            <p class="mb-1">Projects</p>            
        </div>
        <div class="column">
            <p class="mb-1">Bla-bla</p>            
        </div>
        <div class="column">                            
            <p>Contact us</p>
            <p class="is-size-7">SPECTRA Centre of Excellence EU</p>
            <p class="is-size-7">UM STU</p>
            <p class="is-size-7">Vazovova, 5, 81243,</p>            
            <p class="is-size-7 mb-1">Bratislava, Slovak Republic</p>
            <p class="is-size-7">tel. +421 2 5727 6277</p>            
        </div>
    </div>
    <div class="columns is-mobile is-centered">        
        <img style="width: 180px;" src="/img-original/EN_Funded_by_the_European_Union_RGB_POS.png" alt="Funded by the European Union NextGen logo">
    </div>
</footer>