<footer class="footer">
    <div class="columns">
        <div class="column">
            <block>
                <a href="https://www.stuba.sk" target="_blank">
                    <img style="width: 300px;" src="/img-original/STU-anfh_full.png" alt="Slovak University of Technology in Bratislava logo">
                </a>
            </block>
            <block>
                <a href="https://spectra-perseus.org" target="_blank">
                    <img style="width: 150px;" src="/img-original/SPECTRA_logo_1596x358px.png" alt="Spectra Centre of Excellence EU logo">
                </a>
            </block>
        </div>
        <div class="column">
            <block>
                <img style="width: 180px;" src="/img-original/EN_Co-fundedbytheEU_RGB_POS.png" alt="Co-funded by the EU logo">
            </block>            
            <block>
                <img style="width: 180px;" src="/img-original/EN_Funded_by_the_European_Union_RGB_POS.png" alt="Funded by the European Union NextGen logo">
            </block>            
        </div>      
        <div class="column"></div>  
        <div class="column">                            
            <p><strong>Contact us</strong></p>
            <p class="is-size-7">SPECTRA Centre of Excellence EU</p>
            <p class="is-size-7">Institute of Management STU</p>
            <p class="is-size-7">Vazovova, 5, 81243,</p>            
            <p class="is-size-7">Bratislava, Slovak Republic</p>
            <p class="is-size-7"><a>nataliia.yehorchenkova@stuba.sk</a></p>
        </div>
    </div>    
</footer>