{% include "search-ui.njk" %}

<script src="/assets/nav-burger.js"></script>

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item center" href="/">
            <img src="/img-original/SPECTRA_logo_1nobackground.png" width="160px" height="36px">
        </a>        
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navMenu" class="navbar-menu">        
        <div class="navbar-start has-text-weight-bold">            
            <a class="navbar-item" href="/">
                <span class="icon">
                    <i class="fas fa-home"></i>                    
                </span>
            </a>
                      
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Events
                </a>
                <div class="navbar-dropdown">
                    {% for key, val in events %}
                        <a class="navbar-item" href="{{ val.ref }}">
                            {{ val.title }}
                        </a>
                    {% endfor %}                               
                </div>
            </div>

            <a class="navbar-item" href="/content/team">
                Our Team
            </a>                                
        </div>
        <div class="navbar-end">
            <a class="navbar-item js-modal-search" data-target="modal-js-search">                
                <span class="icon">
                    <i class="fas fa-search"></i>
                </span>                
            </a> 
        </div>
    </div>
</nav>