{% include "search-ui.njk" %}

<script src="/assets/nav-burger.js"></script>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/img-original/pm4u_logo_2.png">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start has-text-weight-bold">
            {# <a class="navbar-item" href="/">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
            </a> #}

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Study
                </a>
                <div class="navbar-dropdown">
                    {% for study in collections.study | reverse %}
                        <a class="navbar-item" href="{{ study.url }}">
                            {{ study.data.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Events
                </a>
                <div class="navbar-dropdown">
                    {% for event in collections.events | reverse %}
                        <a class="navbar-item" href="{{ event.url }}">
                            {{ event.data.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <a class="navbar-item" href="/content/blog">
                Blog
            </a>

            <a class="navbar-item" href="/content/team">
                Our Team
            </a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item js-modal-search mr-1" data-target="modal-js-search">
                <span class="icon">
                    <i class="fas fa-search"></i>
                </span>
            </a>
        </div>
    </div>
</nav>