---
layout: "layouts/base.njk"
---

{% include "back-button.njk" %}

<div class="columns mt-5">
    <div class="column is-8 is-offset-2">                
        <div class="content m-5 has-text-justified" id="contents" data-pagefind-body>

            {% if events[event].title %}
                <h1 class="title has-text-info">
                    {{ events[event].title | safe }}                
                </h1>
            {% else %}
                <h1 class="title has-text-info">
                    {{ title | safe }}                
                </h1>
            {% endif %}
            
            {% if events[event].subtitle %}
                <p class="subtitle is-size-3 has-text-info">
                    {{ events[event].subtitle | safe }}
                </p>
            {% endif %}
           
           {{ content | safe }}

        </div>
    </div>
    
    <div class="column is-2 has-background-light">
        <aside class="menu menu-stick mt-3 is-hidden-touch">        
            
            <div class="is-normal is-size-6" id="toc">
                {{ content | toc | safe }}
            </div>
        </aside>
    </div>

</div>

{# <script src="/assets/createToc.js"></script> #}

<script src="/assets/highlight-toc.js"></script>
