---
title: Homepage
layout: layouts/base.njk
---

<section class="section has-text-justified">
    <h1 class="title has-text-centered">
        Project management for EU urban transformation in the context of climate change and energy transition
    </h1>
    <div class="block">
        <div class="columns">
            <div class="column is-one-third">
                {% image "3.jpeg", "futuristic city" %}
            </div>    
            <div class="column">
            <p>“Project management for EU urban transformation in the context of climate change and energy transition" aims to address the challenges of effectively managing initiatives related to the transformation of urban areas in the European Union in the context of climate change and energy transition., by developing a Master's and PhD level module on project management for the EU urban transformation. The module is intended to provide students with knowledge and skills needed to effectively plan and implement such initiatives, and will focus on the application of project management principles and practices to real-world situations in the context of EU urban transformation.</p>
            <p>The module also aims to promote inclusion and diversity in the planning and implementation of urban transformation projects in the European Union, by fostering dialogue between the academia and society, including local, regional, and the EU-level policy-makers and other stakeholders. The project also aims to support the development of more sustainable and competitive cities in the European Union, which can in turn drive economic growth and create quality jobs.</p>
            <p>It's main objective is to improve the capacity of master's and PhD students in the field of urban transformation managing effectively initiatives related to the transformation of urban areas in the European Union. The project has several specific objectives, such as Enhance the knowledge and skills of master's and PhD students in the field of EU urban transformation, teach students how to apply project management principles and practices to real-world situations, foster dialogue between the academic world and society, and to support the development of more sustainable and competitive cities.
            It set indicators to measure the success of the module such as the number of students who complete the module, students evaluations, number of students who go on to work on urban transformation project safter completing the course, and the economic impact of these projects assessed by local authorities.</p>
            </div>
        </div>
    </div>
    <div class="content">
        <p> <b> Objectives: </b> </p>
        <ol>
            <li> Enhance the knowledge and skills of master's and PhD students in the field of EU urban transformation.</li>
            <li>To provide research of using project management technics for urban transformation in the context of climate change and energy transition. </li>
            <li> To teach students how to apply project management principles and practices to real-world situations in the context of EU urban transformation.</li>
            <li>To foster dialogue between the academic world and society, including local, regional, and EU-level policy-makers and other stakeholders, in order to promote inclusive and cohesive urban transformation in the European Union.</li>
            <li>To support the development of more sustainable and competitive cities in the European Union, which can in turn drive economic growth and create quality jobs. </li>
        </ol>    
    </div>
    <div class="content">
        <p><b>Project details:</b></p>
        <ul>
        <li><b>Prject is implemented within Erasmus + Jean Monnet Module Programme</b></li>
        <li><b>Project number:</b>101126659-PM4U-ERASMUS-JMO-2023-HEI-TCH-RSCH</li>
        <li><b>Project duration:</b>1.10.2023-30.09.2026</li>
        <li><b>Project manager:</b>Prof. Nataliia Yehorchenkova, researcher at Spatial Planning department, Institute of Management, Slovak University of Technology in Bratislava</li>
        </ul>
    </div>

</section>