---
title: Our Team - PM4U
metatitle: The team of the Erasmus+ Jean Monnet project "Project management for EU urban transformation in the context of climate change and energy transition (PM4U)"
layout: layouts/page-base.njk
---

<section class="section has-text-justified">
    
    <h1 class="title has-text-centered">Our Team</h1>
    
    <div class="box">
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128">
                    {% image "team/yehorchenkova.jpeg", "Nataliia Yehorchenkova's photo" %}
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <h2 class="subtitle" id="yehorchenkova">Nataliia Yehorchenkova</h2>
                    <p><b>Role:</b> project coordinator, teacher</p>
                    <p>Certified project manager IPMA “D”. She is PhD(2013) and Doctor of Engineering Science (2018) and worked as
                    professor of Project Management department at Kyiv National University of Construction and Architecture, Ukraine. </p>
                    <p>She is Laureate of the State Prize of Verkhovna Rada of Ukraine in the field of basic and applied research and 
                    scientific and technological development (for young scientists). 
                    She has participated in Erasmus+ and DAAD projects that are related to develop of competences for healthy and 
                    safe work in the 21st century and Virtual Master Cooperation Data Science. 
                    She gave lectures in Data Science and Business Intelligence at Dortmund University of 
                    Applied Sciences and Arts (Germany). </p>
                    <p>She has more than 100 printed scientific papers.</p>
                    <p>Nataliia's research interests include project management, data science, computer science, portfolio management, and information management.</p>
                </div>
            </div>
        </article>        
    </div>

    <div class="box">
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128">
                    {% image "team/yehorchenkov.jpeg", "Oleksii Yehorchenkov's photo" %}
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <h2 class="subtitle" id="yehorchenkov">Oleksii Yehorchenkov</h2
                    <p><b>Role:</b> teacher</p>
                    <p>Certified project manager IPMA “D”.</p> 
                    <p>Oleksii Yehorchenkov is a researcher at Institute of Management, Slovak University of Technology in 
                        Bratislava and professor at Faculty of Information Technologies, 
                        Taras Shevchenko National University of Kyiv (Ukraine)  
                        He holds a Ph.D and Doctor of Engineering Science degree in computer science, with a specialization in project and program management.</p>
                    <p>He has participated in the Erasmus+ Teaching Mobility program multiple times and is currently involved in the Erasmus+ KA2 project "dComFra – digital competences framework for Ukrainian teachers and other citizens". </p> 
                    <p>He has also served as a guest lecturer for the Information Processing and Data Analytics course for master's students at Dortmund University of Applied Sciences and Arts in Germany.</p> 
                    <p>In addition to his university activities, Oleksii also worked on a variety of commercial IT projects, mainly focused on digital transformation within enterprises.</p>
                    <p>Oleksii's research interests include project and portfolio management, data science, and information management.</p>
                </div>
            </div>
        </article>
    </div>

    <div class="box">
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128">
                    {% image "team/finka.jpg", "Maros Finka's photo" %}
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <h2 class="subtitle" id="finka">Maros Finka</h2> 
                    <p><b>Role:</b> teacher</p>
                    <p>Director of the Institute of Management, Sloval University of Technology in Bratislava, President of Association of European Schools of Planning 2020/22, professor at STU in Bratislava 
                        and Shanghai Jiao Tong University, Member of the Academy for Spatial Research in Hannover, 
                        expert at the Ministry for Investment, Regional Development and Innovations of SR, 
                        co-chairman of the <a href="http://spa-ce.net/">spa-ce.net</a>, guarantor of study field Spatial Planning in Slovakia and at STU, 
                        director of <a href="https://spectra-perseus.org/">SPECTRA CE EU at STU</a>. </p>
                        <p>His research focuses on sustainability aspects in European spatial and landscape planning, 
                        urban development and regeneration</p> 
                    <p>Maros Finka is author or co-author of 41 books, more than 200 published papers. </p>
                </div>
            </div>
        </article>
    </div>
    
    <div class="box">
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128">
                    {% image "team/cat_placeholder.jpg", "image placeholder" %}
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <h2 class="subtitle" id="ondrejichka">Vladimír Ondrejička</h2>
                    <p><b>Role:</b> teacher</p>
                    <p> Vladimír Ondrejička, is associated professor at Institute of Management, Slovak University of Technology in 
                        Bratislava. In his professional work, he participates in high-end international research, especially through 
                        the preparation and implementation of international research projects (H2020, Interreg Danube, Interreg Central 
                        Europe, Erasmus, etc.). His expertise is mainly focused on spatial planning with emphasis on the topics of 
                        ecological connectivity, biodiversity, smart city/region, urban safety as well as strategic planning for 
                        sustainable development. As a senior lecturer is focused mainly on the issue of harmonization of interests in 
                        the territory and related tools of integrated spatial management, socio- economic planning, as well as the 
                        issues of smart city/region and urban safety. </p>
                    <p>He is a co-author of several methodologies and expertise at the national as well as regional level in the field of integrated spatial development and regional development.</p>
                    <p>He is a professionally qualified person for the processes of SEA and EIA assessment.</p>
                </div>
            </div>
        </article>        
    </div>

    <div class="box">
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128">
                    {% image "team/cat_placeholder.jpg", "image placeholder" %}
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <h2 class="subtitle" id="jamechny">Ľubomír Jamečný</h2>
                    <p><b>Role:</b> teacher</p>
                    <p> Ľubomír Jamečný is a senior lecturer at the Institute of Management of STU in Bratislava, Department of Spatial Planning, 
                        where he works as a senior lecturer and supervisor courses in environmental engineering, strategic planning 
                        and at the same time was and is leading a number of successfully completed students in the bachelor and 
                        engineering level, including the award and also he is senior researcher of SPECTRA Centre of Excellence EU.</p> 
                        <p>He was coordinated by several international projects and currently participates in several scientific research 
                        projects, including even within HORIZON2020.</p>  
                </div>
            </div>
        </article>        
    </div>

    <div class="box">
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128">
                    {% image "team/husar.png", "Milan Husar's photo" %}
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <h2 class="subtitle" id="husar">Milan Husar</h2>
                    <p><b>Role:</b> teacher</p>
                    <p> Milan Husar is a lecturer and researcher at Spectra Centre of Excellence of the EU at 
                        Department of Spatial Planning, Institute of Management, STU Bratislava. 
                        He has participated in a number of national international research projects covering topics of smart cities, 
                        biodiversity protection and spatial planning. He has a PhD. Degree in spatial planning (2016).</p> 
                    <p>As a Fulbright Scholar spent 6 months at Arizona State University working in Centre Behavior, 
                        Institutions and the Environment founded as a sister centre of the Vincent and Elinor Ostrom Workshop in 
                        Political Theory and Policy Analysis at Indiana University, as well as other research stays across Europe.</p>
                </div>
            </div>
        </article>        
    </div>

    <div class="box">
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128">
                    {% image "team/verenych.jpg", "Olena Verenych's photo" %}
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <h2 class="subtitle" id="verenych">Olena Verenych</h2>
                    <p><b>Role:</b> teacher, expert</p>
                    <p> Olena Verenych is an expert in the field of project management and communication management at the 
                        Kyiv National University of Construction and Architecture. She brings a wealth of knowledge and 
                        experience to her role as a teacher for the module of Project management for EU urban transformation, 
                        having dedicated her career to the development and implementation of project management methodologies 
                        in both practical commercial and scientific projects. Her expertise in project management methodologies, 
                        including Agile and Waterfall, allows her to effectively plan and execute projects from start to finish.</p> 
                    <p> Additionally, her skills in communication management enable her to effectively manage and coordinate 
                        team members, stakeholders, and partners. Olena's experience in both commercial and scientific projects 
                        gives her a unique perspective on project management and allows her to bring a diverse range of skills and 
                        insights to the module. Her dedication to staying current with the latest trends and best practices in 
                        project management and communication management, along with her passion for helping students succeed, 
                        make her a valuable asset to the module. </p>
                </div>
            </div>
        </article>        
    </div>

    <div class="box">
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128">
                    {% image "team/khlevna.jpg", "Iulii Khlevna's photo" %}
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <h2 class="subtitle" id="khlevna">Iuliia Khlevna</h2>
                    <p><b>Role:</b> expert</p>
                    <p> Iuliia Khlevna, Dr.S., Prof. is an expert in the field of project management methodology at the 
                        Taras Shevchenko National University of Kyiv. She brings a wealth of knowledge and experience to her role, 
                        having dedicated her career to the development and implementation of project management methodologies that 
                        help organizations achieve their goals in EU urban transformation projects. She has a deep understanding of 
                        the latest trends and best practices in project management, and is well-versed in a variety of 
                        different methodologies, including Agile, Waterfall, and Scrum.</p> 
                    <p>Her extensive experience working in the field of EU urban transformation projects and her passion for helping organizations succeed make 
                        her a valuable asset to any project team. </p>
            </div>
        </article>        
    </div>

    <div class="box">
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128">
                    {% image "team/kuchanskyi.jpeg", "Oleksand Kuchanskyi's photo" %}
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <h2 class="subtitle" id="kuchanskyi">Oleksandr Kuchanskyi</h2>
                    <p><b>Role:</b> expert</p>
                    <p> Kuchanskyi Alexander, Dr.S. is an expert in scientific projects and the problems of gender inequality in 
                        science at the Taras Shevchenko National University of Kyiv. He brings a wealth of knowledge and experience 
                        to his role, having dedicated his career to researching and understanding the challenges faced by women in 
                        the field of science. In project he can provide valuable insights and support in ensuring that the project 
                        team is diverse and inclusive. He can help to identify and address any potential barriers or challenges that 
                        may arise in relation to gender equality, and can provide guidance and best practices for promoting diversity 
                        and inclusivity within the project team. Additionally, he can play a key role in promoting gender equality in 
                        the field of EU urban transformation and climate change through his research and publications, and can act as 
                        a resource person for the project team on issues related to gender equality in science. </p>
                    <p>Overall, his expertise in scientific projects, gender inequality and diversity, makes him an 
                        important addition to any project team.</p>
            </div>
        </article>        
    </div>    
</section>